@tailwind base;

@tailwind components;

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn:hover {
  @apply bg-yellow-600 text-white;
}

@tailwind utilities;

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
